fastapi
uvicorn[standard]
python-dotenv

sqlalchemy
pydantic
pydantic-settings

python-jose[cryptography]
passlib[bcrypt]

python-multipart

pymupdf

langchain
langchain-community

faiss-cpu

google-genai

tiktoken

httpx

pytest